<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="StudentConnectionString" connectionString="Data Source=.;Initial Catalog=Student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Studentconnction" connectionString="Data Source=.;Initial Catalog=Student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudentConnectionString2" connectionString="Data Source=.;Initial Catalog=Student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudentConnectionString3" connectionString="Data Source=.;Initial Catalog=Student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudentConnectionString4" connectionString="Data Source=.;Initial Catalog=Student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudentConnectionString5" connectionString="Data Source=.;Initial Catalog=Student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
